//-  Daniella Boaz 209371913, Or Horovitz 316283944
//- views/index.pug
extends layout

block content
  .container
    h1 Welcome to Home
    p This is the home page of our website.
    p From here, you can navigate to other sections of the site to learn more about our services,
    p add your daily calorie intake, generate reports, and view user information.
